.label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: #ffffff;
  color: #555555;
  font-size: 20px;
}
.quantity {
  width: 75px;
  height: auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}
.clear {
  width: 110px;
}
.quantity:hover {
  background-color: #bbbbbb;
}
